h1 {
	color: blue;
	font-family: cursive, sans-serif;
	display: inline-block;
}
h4 {
	color: gray;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: inline-block;
}
h6 {
	color: aqua;
	display: inline-block;
}
img {
	width: 100%;
	padding: 10px;
}
