body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

a:active {
	color: black;
}

a:visited {
	color: #666666;
}

a:link {
	color: #666666y;
}

#me_menu li{
	list-style: none;
	display: inline;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}
#resume_menu li{
	list-style: none;
	display: inline;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
}
#active {
	font-weight: bold;
	color: black;
}
