body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

a:active {
	font-size: 1.1em;
}

a:visited {
	color: black;
}

a:link {
	color: black;
}

#me_menu li{
	list-style: none;
	display: inline;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	outline: gray solid thick;
}
#resume_menu li{
	list-style: none;
	display: inline;
	float: right;
	padding-left: 20px;
	padding-right: 20px;
	outline: gray solid thick;
}
.menu {
	background-color: #3d3d29;
	height: 100%;
}
